# <center> Майнор "Интеллектуальный анализ данных" <center>

# <center> Курс "Современные методы машинного обучения" <center>

# <center> Лабораторная работа №1. Supervised learning <center>

## Table of contents  
  
* [Часть 1. Работа с данными](#part1)
* [Часть 2. Методы машинного обучения](#part2)
* [Часть 3. Соревнование по машинному обучению](#part3)

## Часть 1. Работа с данными <a id="part1"></a>

В данной части лабораторной вам предстоит работать с данными по оттоку клиентов одной телекомуникационной компании. Оригинал данных доступен [здесь](https://bigml.com/user/francisco/gallery/dataset/5163ad540c0b5e5b22000383). Для лабораторной работы данные были модифицированы.

Данные находятся в файле `telecom_churn_mod.csv`

**Описание данных:**

In [14]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [15]:
pd.set_option('display.max_columns', 25)
pd.set_option('display.max_colwidth', -1)

In [16]:
pd.read_csv('telecom_churn_description.csv')

,Признак,Описание,Тип
0,ID,Уникальный идентификатор объекта,Числовой (integer)
1,Sex,Пол,Символьный
2,Age,Возраст,Числовой (integer)
3,State,Буквенный код штата,Символьный
4,Account length,Как долго клиент обслуживается компанией,Числовой (integer)
5,Phone number,Номер телефона клиента,Символьный
6,Plans,Подключенные планы,Символьный (None; International/Voice mail or both)
7,Number vmail messages,Количество голосовых сообщений,Числовой (integer)
8,Total day minutes,Общая длительность разговоров днем,Числовой (float)
9,Total day calls,Общее количество звонков днем,Числовой (float)
10,Total day charge,Общая сумма оплаты за услуги днем,Числовой (float)
11,Total eve minutes,Общая длительность разговоров вечером,Числовой (float)
12,Total eve calls,Общее количество звонков вечером,Числовой (float)
13,Total eve charge,Общая сумма оплаты за услуги вечером,Числовой (float)
14,Total night minutes,Общая длительность разговоров ночью,Числовой (float)
15,Total night calls,Общее количество звонков ночью,Числовой (float)
16,Total night charge,Общая сумма оплаты за услуги ночью,Числовой (float)
17,Total intl minutes,Общая длительность международных разговоров,Числовой (float)
18,Total intl calls,Общее количество международных разговоров,Числовой (float)
19,Total intl charge,Общая сумма оплаты за международные разговор,Числовой (float)
20,Total charge,Общая сумма оплаты за услуги,Числовой (float)
21,Customer service calls,Число обращений в сервисный центр,Числовой (integer)
22,Churn,Отток клиента (остался или ушел),Логический (True - ушел; False - остался)

### Задание 1  
  
Считайте данные из файла. Оцените размерность данных, есть ли в данных пропущенные значения. Посмотрите на автоматически определенные типы признаков.

In [17]:
data = pd.read_csv("telecom_churn_mod.csv", sep=';')

In [18]:
print(data.shape)
data.info()

(3333, 23)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 23 columns):
ID                        3333 non-null int64
Sex                       3333 non-null object
Age                       2333 non-null float64
State                     3333 non-null object
Account length            3333 non-null int64
Phone number              3333 non-null object
Plans                     3233 non-null object
Number vmail messages     3333 non-null int64
Total day minutes         3333 non-null object
Total day calls           3333 non-null object
Total day charge          3333 non-null float64
Total eve minutes         3333 non-null float64
Total eve calls           3333 non-null float64
Total eve charge          3333 non-null float64
Total night minutes       3333 non-null object
Total night calls         3333 non-null float64
Total night charge        3333 non-null float64
Total intl minutes        3333 non-null object
Total intl calls          3333 non-null float64
Total intl charge         3333 non-null float64
Total charge              3333 non-null object
Customer service calls    3333 non-null object
Churn                     3333 non-null bool
dtypes: bool(1), float64(9), int64(3), object(10)
memory usage: 576.2+ KB

### Задание 2  
  
Приведите числовые признаки, которые были распознаны некорректно, к числовому типу данных.  
Найдите и опишите ошибки в данных, которые мешают приведению типов. Сколько признаков содержат ошибки, сколько наблюдений по каждому такому признаку? Исправьте эти ошибки и снова выполните приведение типов.
**NB:** Исправлять ошибки необходимо программно (используя python), изменять исходный файл "руками" не разрешается.

Ошибка в столбах 'Total day minutes', 'Total intl minutes' - в некоторых значениях используется запятая вместо точки для разделения целой и десятичной части числа.

Ошибка в столбах 'Total day calls', 'Total day minutes', 'Customer service calls' - в некоторых значения вместо '0' используется 'o'.

Ошибка в столбе 'Total night minutes' - вместо '1' используется 'l'.

Ошибка в столбе 'Total charge' - хз как описать, просто число поделено на 100 и добавлено слово 'hundred'.

комменты ниже - количество наблюдений с ошибками.

In [19]:
data['Total day minutes'].str.contains(',').value_counts() # 43
data['Total intl minutes'].str.contains(',').value_counts() # 32
data['Total day calls'].str.contains('o').value_counts() # 4
data['Total day minutes'].str.contains('o').value_counts() # 7
data['Customer service calls'].str.contains('o').value_counts() # 6
data['Total night minutes'].str.contains('l').value_counts() # 10
data['Total charge'].str.contains('hundred').value_counts() # 15

False    3318
True     15
Name: Total charge, dtype: int64

In [20]:
data['Total charge'] = data['Total charge'].apply(lambda x: float(x.replace(' hundred', ''))*100 if ' hundred' in x else x)

In [21]:
data['Total day minutes'] = data['Total day minutes'].str.replace(',', '.').str.replace('o', '0').astype('float64')
data['Total day calls'] = data['Total day calls'].str.replace('o', '0').astype('float64')
data['Total night minutes'] = data['Total night minutes'].str.replace('l', '1').astype('float64')
data['Total intl minutes'] = data['Total intl minutes'].str.replace(',', '.').astype('float64')
data['Customer service calls'] = data['Customer service calls'].str.replace('o','0').astype('int64')
data['Total charge'] = data['Total charge'].astype('float64')

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 23 columns):
ID                        3333 non-null int64
Sex                       3333 non-null object
Age                       2333 non-null float64
State                     3333 non-null object
Account length            3333 non-null int64
Phone number              3333 non-null object
Plans                     3233 non-null object
Number vmail messages     3333 non-null int64
Total day minutes         3333 non-null float64
Total day calls           3333 non-null float64
Total day charge          3333 non-null float64
Total eve minutes         3333 non-null float64
Total eve calls           3333 non-null float64
Total eve charge          3333 non-null float64
Total night minutes       3333 non-null float64
Total night calls         3333 non-null float64
Total night charge        3333 non-null float64
Total intl minutes        3333 non-null float64
Total intl calls          3333 non-null float64
Total intl charge         3333 non-null float64
Total charge              3333 non-null float64
Customer service calls    3333 non-null int64
Churn                     3333 non-null bool
dtypes: bool(1), float64(14), int64(4), object(4)
memory usage: 576.2+ KB

### Задание 3  
  
Оцените набор данных на предмет пропущенных значений. Какие признаки содержат пропуски? Сколько наблюдений с пропусками по каждому такому признаку?  
По каждому признаку предложите и обоснуйте, что делать с пропущенными значениями.

In [23]:
data.isna().sum()

ID                        0
Sex                       0
Age                       1000
State                     0
Account length            0
Phone number              0
Plans                     100
Number vmail messages     0
Total day minutes         0
Total day calls           0
Total day charge          0
Total eve minutes         0
Total eve calls           0
Total eve charge          0
Total night minutes       0
Total night calls         0
Total night charge        0
Total intl minutes        0
Total intl calls          0
Total intl charge         0
Total charge              0
Customer service calls    0
Churn                     0
dtype: int64

In [24]:
data['Age'].fillna(data['Age'].mean(), inplace = True) # Возраст заменим на средее значение, ибо дропнуть 1000 наблюдений из 3333 будет не очень хорошо
data.dropna(inplace = True) #Как мне кажется, будет лучше, если дропнуть, т.к тариф является важным атрибутом. Заполнив его None-ами, мы сделаем выборку менее сбалансированной
#Но как вариант, заменить его на None
#data['Plans'].fillna('None', inplace= True)
data.isna().sum()

ID                        0
Sex                       0
Age                       0
State                     0
Account length            0
Phone number              0
Plans                     0
Number vmail messages     0
Total day minutes         0
Total day calls           0
Total day charge          0
Total eve minutes         0
Total eve calls           0
Total eve charge          0
Total night minutes       0
Total night calls         0
Total night charge        0
Total intl minutes        0
Total intl calls          0
Total intl charge         0
Total charge              0
Customer service calls    0
Churn                     0
dtype: int64

In [26]:
data['Age'] = data['Age'].astype('int64')
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3233 entries, 0 to 3332
Data columns (total 23 columns):
ID                        3233 non-null int64
Sex                       3233 non-null object
Age                       3233 non-null int64
State                     3233 non-null object
Account length            3233 non-null int64
Phone number              3233 non-null object
Plans                     3233 non-null object
Number vmail messages     3233 non-null int64
Total day minutes         3233 non-null float64
Total day calls           3233 non-null float64
Total day charge          3233 non-null float64
Total eve minutes         3233 non-null float64
Total eve calls           3233 non-null float64
Total eve charge          3233 non-null float64
Total night minutes       3233 non-null float64
Total night calls         3233 non-null float64
Total night charge        3233 non-null float64
Total intl minutes        3233 non-null float64
Total intl calls          3233 non-null float64
Total intl charge         3233 non-null float64
Total charge              3233 non-null float64
Customer service calls    3233 non-null int64
Churn                     3233 non-null bool
dtypes: bool(1), float64(13), int64(5), object(4)
memory usage: 584.1+ KB

### Задание 4  
  
В признаке `Phone number` первые три цифры номера отвечают за код зоны покрытия сети.  
Создайте новый признак `Area code`, содержайщий код покрытия сети.  
Вычислите, сколько таких зон представлено в данных. Сколько наблюдений по каждой зоне?  

Вычислите, сколько штатов входит в каждую зону. Есть ли штаты, которые находятся сразу в нескольких зонах покрытия? Если есть, приведите примеры.

In [27]:
data.reset_index(inplace = True)
data['Area code'] = data['Phone number'].apply(lambda x: x[0:3])
data['Area code'].value_counts()
#3 зоны, 415 зона  с 1598 пользователями, 510 зона с 818 пользователями и 408 зона с 817 пользователями

415    1598
510    818
408    817
Name: Area code, dtype: int64

In [28]:
#data.groupby(['Area code'])['State'].nunique()
#data['State'].nunique()
#data[['State','Area code']].groupby('State').nunique()
data[data['State']=='KS']['Area code'].value_counts()

415    37
510    21
408    12
Name: Area code, dtype: int64

In [37]:
grouped = data.groupby(['Area code'])['State'].agg(lambda x: set(x.unique()))
#grouped set(grouped[1])
len(set(grouped[2]) & set(grouped[1]) & set(grouped[2]))

51

### Задание 5  
  
Вычислите тарифные планы (стоимость минуты разговора): day, eve, night, intl.  
Проверьте, различаются ли они для различных зон покрытия сети.

In [30]:
data['Day tariff'] = round(data['Total day charge']/data['Total day minutes'], 2)
data['Eve tariff'] = round(data['Total eve charge']/data['Total eve minutes'], 2)
data['Night tariff'] = round(data['Total night charge']/data['Total night minutes'], 2)
data['Intl tariff'] = round(data['Total intl charge']/data['Total intl minutes'], 2)

In [31]:
#data.head(20)
data.groupby(['Area code'])['Night tariff'].value_counts()

Area code  Night tariff
408        0.05            421
           0.04            396
415        0.04            822
           0.05            776
510        0.04            422
           0.05            396
Name: Night tariff, dtype: int64

### Задание 6  
  
По каждому штату и каждому плану в признаке `Plans` (International и Voice mail) вычислите количество клиентов, подключивших этот план и их долю внутри штата. Пример вывода:
  
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>State</th>
      <th>Plan</th>
      <th>Count</th>
      <th>Frac</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>state_1</td>
      <td>International</td>
      <td>40</td>
      <td>0.4</td>
    </tr>
    <tr>
      <th>1</th>
      <td>state_1</td>
      <td>Voice mail</td>
      <td>30</td>
      <td>0.3</td>
    </tr>
    <tr>
      <th>2</th>
      <td>state_2</td>
      <td>International</td>
      <td>25</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>state_2</td>
      <td>Voice mail</td>
      <td>35</td>
      <td>0.7</td>
    </tr>
  </tbody>
</table>

In [32]:
grouped = data[['State', 'Plans']].groupby(['State', 'Plans']).size()
d1=pd.DataFrame(grouped, columns=['Count'] )
d1['Fract']=round(grouped/grouped.groupby(level=0).sum(), 2)
d1
#Сам не понимаю что тут происходит

                                 Count  Fract
State Plans
AK    International              2      0.04
      International, Voice mail  2      0.04
      None                       32     0.64
      Voice mail                 14     0.28
AL    International              7      0.09
      International, Voice mail  1      0.01
      None                       48     0.63
      Voice mail                 20     0.26
AR    International              7      0.13
      International, Voice mail  1      0.02
      None                       34     0.62
      Voice mail                 13     0.24
AZ    International              2      0.03
      International, Voice mail  1      0.02
      None                       42     0.67
      Voice mail                 18     0.29
CA    International              4      0.12
      None                       19     0.56
      Voice mail                 11     0.32
CO    International              3      0.05
      International, Voice mail  1      0.02
      None                       42     0.66
      Voice mail                 18     0.28
CT    International              7      0.10
      International, Voice mail  1      0.01
      None                       45     0.62
      Voice mail                 20     0.27
DC    International              4      0.08
      International, Voice mail  1      0.02
      None                       30     0.58
...                             ..       ...
TX    None                       51     0.72
      Voice mail                 14     0.20
UT    International              5      0.07
      International, Voice mail  1      0.01
      None                       44     0.64
      Voice mail                 19     0.28
VA    International              7      0.10
      International, Voice mail  2      0.03
      None                       48     0.66
      Voice mail                 16     0.22
VT    International              3      0.04
      International, Voice mail  3      0.04
      None                       51     0.73
      Voice mail                 13     0.19
WA    International              3      0.05
      International, Voice mail  1      0.02
      None                       51     0.80
      Voice mail                 9      0.14
WI    International              6      0.08
      International, Voice mail  2      0.03
      None                       47     0.62
      Voice mail                 21     0.28
WV    International              3      0.03
      International, Voice mail  4      0.04
      None                       73     0.70
      Voice mail                 25     0.24
WY    International              7      0.09
      International, Voice mail  3      0.04
      None                       51     0.67
      Voice mail                 15     0.20

[195 rows x 2 columns]

### Задание 7  
  
Для нечисловых признаков выполните преобразование к числовому виду. Обоснуйте выбранное преобразование для каждого признака.

In [33]:
data.head(20)

,index,ID,Sex,Age,State,Account length,Phone number,Plans,Number vmail messages,Total day minutes,Total day calls,Total day charge,...,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Total charge,Customer service calls,Churn,Area code,Day tariff,Eve tariff,Night tariff,Intl tariff
0,0,40075,Female,37,KS,128,415 424 17 55,Voice mail,25,265.10,110.0,45.07,...,11.01,10.0,3.0,2.70,75.56,1,False,415,0.17,0.09,0.04,0.27
1,1,17475,Female,34,OH,107,415 759 41 43,Voice mail,26,161.60,123.0,27.47,...,11.45,13.7,3.0,3.70,59.24,1,False,415,0.17,0.09,0.05,0.27
2,2,62242,Female,19,NJ,137,415 213 11 40,None,0,243.40,114.0,41.38,...,7.32,12.2,5.0,3.29,62.29,0,False,415,0.17,0.08,0.05,0.27
3,3,81231,Female,31,OH,84,408 487 53 35,International,0,299.40,71.0,50.90,...,8.86,6.6,7.0,1.78,66.80,2,False,408,0.17,0.08,0.04,0.27
4,4,78542,Female,30,OK,75,415 509 25 27,International,0,166.70,113.0,28.34,...,8.41,10.1,3.0,2.73,52.09,3,False,415,0.17,0.09,0.04,0.27
5,5,87274,Male,34,AL,118,510 597 52 71,International,0,223.40,98.0,37.98,...,9.18,6.3,6.0,1.70,67.61,0,False,510,0.17,0.08,0.05,0.27
6,6,12533,Male,44,MA,121,510 526 41 29,Voice mail,24,218.20,88.0,37.09,...,9.57,7.5,7.0,2.03,78.31,3,False,510,0.17,0.08,0.05,0.27
7,7,47149,Female,29,MO,147,415 752 19 10,International,0,157.00,79.0,26.69,...,9.53,7.1,6.0,1.92,46.90,0,False,415,0.17,0.08,0.04,0.27
8,8,88008,Female,34,LA,117,408 513 89 26,None,0,184.50,97.0,31.37,...,9.71,8.7,4.0,2.35,73.32,1,False,408,0.17,0.09,0.04,0.27
9,9,68141,Female,35,WV,141,415 202 71 38,"International, Voice mail",37,258.60,84.0,43.96,...,14.69,11.2,5.0,3.02,80.54,0,False,415,0.17,0.08,0.05,0.27
10,10,92481,Female,34,IN,65,415 319 16 15,None,0,129.10,137.0,21.95,...,9.40,12.7,6.0,3.43,54.20,4,True,415,0.17,0.08,0.05,0.27
11,11,17134,Female,41,RI,74,415 427 24 82,None,0,187.70,127.0,31.91,...,8.82,9.1,5.0,2.46,57.08,0,False,415,0.17,0.09,0.04,0.27
12,12,23212,Male,31,IA,168,408 666 50 52,None,0,128.80,96.0,21.90,...,6.35,11.2,2.0,3.02,40.19,1,False,408,0.17,0.09,0.05,0.27
13,15,66612,Male,25,NY,161,415 212 71 10,None,0,499.35,100.5,84.88,...,10.84,8.1,13.5,2.19,138.43,4,True,415,0.17,0.09,0.04,0.27
14,16,22311,Male,45,ID,85,408 413 85 40,Voice mail,27,196.40,139.0,33.39,...,4.02,13.8,4.0,3.73,65.02,1,False,408,0.17,0.09,0.05,0.27
15,18,17801,Male,37,VA,76,510 354 24 31,Voice mail,33,189.70,66.0,32.25,...,7.46,10.0,5.0,2.70,60.50,1,False,510,0.17,0.09,0.05,0.27
16,20,62886,Male,41,FL,147,415 145 53 73,None,0,155.10,117.0,26.37,...,9.40,10.6,4.0,2.86,59.00,0,False,415,0.17,0.08,0.05,0.27
17,21,59269,Female,34,CO,77,408 574 65 71,None,0,62.40,89.0,10.61,...,9.43,5.7,6.0,1.54,36.02,5,True,408,0.17,0.08,0.04,0.27
18,22,15779,Female,34,AZ,130,415 479 17 34,None,0,183.00,112.0,31.11,...,8.18,9.5,19.0,2.57,48.06,0,False,415,0.17,0.09,0.04,0.27
19,23,57736,Male,33,SC,111,415 113 52 81,None,0,110.40,103.0,18.77,...,8.53,7.7,6.0,2.08,41.05,2,False,415,0.17,0.08,0.04,0.27

### Задание 8  
  
Сколько линейно-зависимых признаков присуствует в данных?  
Определите и удалите признаки, которые линейно зависят от остальных.

In [ ]:
# your code here

### Задание 9  
  
Проведите анализ зависимости признаков.  
Для числовых признаков вычислите корреляции друг с другом и с целевой переменной `Churn`. Постройте heatmap.  
Для категориальных признаков оцените их связь с целевой переменной, постройте графики.  
  
Сделайте выводы по результатм анализа. Можно ли избавиться от некоторых признаков? Если да, то от каких и почему?

In [ ]:
# your code here

### Задание 10  
  
Рассмотрим основанную на правилах модель для предсказания оттока клиентов: 
* Если у пользователя подключен роуминг (International plan) & клиент звонил в тех. поддержку более 3-х раз => клиент уйдет (Churn = True)
* Иначе => клиент останется (Churn = False)  
  
  
Оцените качество данной модели на 5-fold валидации из 5 повторений. Для оценки качества рассмотрите различные метрики: F1-score, precision, recall, accuracy, balanced accuracy. Дайте комментарий к оценке.

In [ ]:
# your code here

## Часть 2. Методы машинного обучения <a id="part2"></a>

Продолжаем работать с данными по оттоку клиентов.  
Сформулируем задачу машинного обучения: необходимо построить модель, определяющую, останется клиент или уйдет. 
  
Для решения заданий, представленных ниже, необходимо использовать данные, полученные после выполнения всех преобразований в первой части.

### Задание 1  
  
* Постройте дерево решений глубины 5 (остальные параметры по умолчанию), оцените качество на 5-fold валидации.  
* Для одного из деревьев (т.е. обученного на одной из итераций кросс-валидации) выведите само дерево - постройте график или выведите в текстовом виде. По структуре дерева сформулируйте правила, по которым принимается решение.  
* Сравните между собой деревья решений, полученных на различных итерациях 5-fold валидации. Сделайте вывод, насколько сильно они похожи или различаются между собой.

In [ ]:
# your code here

### Задание 2  
  
На кросс-валидации (5-fold из 5 повторений) оцените, как меняется качество модели Random Forest с ростом числа деревьев (при дефолтных значениях остальных параметров). Провизуализируйте результаты. Сколько деревьев достаточно в данном случае и почему?  
**NB:** В сравнение включите конфигурацию, аналогичную простому дереву решений.

In [ ]:
# your code here

### Задание 3  
  
* Настройте гиперпараметры модели Random Forest на 5-fold валдиации из 5 повторений. В качестве метрики используйте F1-score. Замерьте время, затраченное на вычисления.
* Разделите данные на обучающую и тестовую выборки в пропорциях 70:30. Обучите Random Forest  с настроенными параметрами на обучающей выборке. На тестовой выборке оцените качество (F1-score) всего ансамбля и <u>каждого дерева отдельно</u>. Постройте график распределения качества деревьев в ансамбле и сравните результаты с качеством всего леса. Дайте комментарий.  
* Выведите важность признаков в Random Forest, сделайте выводы.

In [ ]:
# your code here

### Задание 4  
  
* Используйте логистическую регрессию для решения задачи, оцените качество (roc auc) на 5-fold валидации из 5 повторений. 
* Аналогично (на такой же валидации с такой же метрикой) оцените качество Random Forest  с подобранными в предыдущем задании параметрами. Сравните с качеством логистическом регрессии.
* Разделите данные на обучающую и тестовую выборки в пропорциях 70:30. На обучающей выборке обучите логистическую регрессию и Random Forest  с настроенными параметрами. Для обеих моделей оцените качество на тестовой выборке - постройте ROC-кривую, вычислите roc auc.

In [ ]:
# your code here

### Задание 5  
  
Настройте гиперпараметры модели SVM на 5-fold валидации из 5 повторений. В качестве метрики используйте F1-score. Замерьте время, затраченное на вычисления.    
Каково качество модели? Каков разброс значений метрики? Насколько сильно различие между лучшей и худшей конфигурациями параметров?

In [ ]:
# your code here

### Задание 6  
  
Для алгоритма AdaBoost с параметрами по умолчанию оцените на 5-fold валидации, как растет качество модели на обучающей и на тестовой выборках при добавлении каждого дерева. Провизуализируйте результаты.

In [ ]:
# your code here

### Задание 7  
  
* Настройте гиперпараметры AdaBoost на 5-fold валидации из 5 повторений, используя в качестве базовых классификаторов дерево решений и SVM. В качестве метрики используйте F1-score. Замерьте время, затраченное на вычисления.    
* Выведите наилучшую конфигурацию параметров для каждого базового классификатора. Сравните качество.

In [ ]:
# your code here

## Часть 3. Соревнование по машинному обучению <a id="part3"></a>

В данном задании вам предлагается принять участие в соревновании на kaggle: [PUBG Finish Placement Prediction](https://www.kaggle.com/c/pubg-finish-placement-prediction).  
Задача соревнования заключается в том, чтобы предсказать итоговый результат игрока (место в турнирном зачете) в [популярной](https://meduza.io/feature/2017/12/22/u-etoy-igry-net-syuzheta-i-prokachki-ya-potratil-na-nee-100-chasov-zhizni-i-eto-tolko-nachalo) игре PlayerUnknownʼs Battlegrounds на основании результатов предыдущих игр.  
 
Подробное описание задачи, данные и их описание, целевую метрику и правила вы можете найти на странице соревнования.

Для участия в соревновании, т.е. для того, чтобы скачать данные, сабмитить результаты и попасть в leaderboard, вам необходимо создать аккаунт на [kaggle](https://www.kaggle.com/).

Данное соревнование является `Kernels Only` - это означает, что вы должны сабмитить не файл с предсказаниями для тестовой выборки, а код, который будет выполняться (преобразовывать данные, обучать модель) и создавать файл с предсказаниями. Как это сделать сказано в [описании](https://www.kaggle.com/c/pubg-finish-placement-prediction#Kernels-FAQ), также есть хороший [тьюториал](https://www.kaggle.com/dansbecker/submitting-from-a-kernel).

После того, как вы выполните сабмит, в leaderboard вы сможете посмотреть качество вашей модели на тестовой выборке и место в общем зачете.  
Вы можете делать много (до 10 в день) сабмитов - в leaderbord всегда отображается самый лучший (остальные можно посмотреть в `My Submissions`).

### Задание  
  
Необходимо построить и засабмитить модель, которая:   
* Задача минимум – покажет на тестовой выборке качество выше baseline: 0.2
* Задача максимум - решит задачу как можно точнее  
  
При решении можно и нужно выполнять различные преобразования признаков и применять различные модели машинного обучения.  

В качестве результата необходимо: 
* Сказать ваш логин на kaggle, чтобы мы могли найти вас в leaderboard
* Предоставить скрипт, выполняющий преобразования данных (из формата начальных данных в тот формат, который должна принимать на вход модель) и предсказания, а также сохраненную обученную модель. 
* Предоставить скрипт, который вы сабмитили.
* Сделать краткое описание преобразования данных и итоговой модели. В описание можно также включить некоторые результаты анализа данных (если считаете их полезными и интересными) и собственную оценку модели на кросс-валидации.  
  
По результатам будет составлен наш локальный leaderboard.